.main-visual {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main-visual-img {
  object-fit: cover;
  object-position: 80% 100%;
  width: 100%;
  height: 100%;
}

.main-text {
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: .5rem;
  line-height: 2.2rem;
  background-color: rgba($color-white, 0.75);

  position: absolute;
  bottom: 8rem;
  left: 5rem;
}

.article {
  max-width: $breakpoints;
  margin: 0 auto;
}

.section {
  margin: 3rem 0 1rem 0;
}

.section-header {
  text-align: center;
}

.section-container {
  display: flex;
  gap: 1rem;

  p:first-child {
    margin-top: 0;
  }
}

.section-left {
  flex: 1;
}

.section-right {
  flex: 1;
}

.section-img {
  width: 100%;
  border-radius: .5rem;
}

.section-link {
  padding: 5px 2px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $color-primary-text;

  &:link, &:visited, &:hover, &:active, &:focus {
    color: $color-primary-text;
    text-decoration: none;
  }

  &:hover {
    font-weight: bold;
    border-bottom: 2px solid $color-primary-text;
  }
}

.topic {
  flex: 1;
}

@media screen and (max-width: $breakpoints) {
  .main-text {
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    left: 1rem;
  }

  .article {
    margin: 0 .5rem;
  }

  .section-container {
    gap: .5rem;
    flex-flow: column;
  }

  .section-left {
    order: 2;
  }

  .section-right {
    order: 1;
  }
}
